<div clafxFlex.gt-lg="33" fxFlex.gt-md="33" fxFlex.gt-xs="33" fxFlex="33">
    <mat-card>
        <mat-card-content>
            <mat-card-title>Repositories</mat-card-title>
            100
        </mat-card-content>
    </mat-card>
</div>
<div fxFlex.gt-lg="33" fxFlex.gt-md="33" fxFlex.gt-xs="33" fxFlex="33">
    <mat-card>
        <mat-card-content>
            <mat-card-title>Stat 2</mat-card-title>
            232
        </mat-card-content>
    </mat-card>
</div>
<div fxFlex.gt-lg="33" fxFlex.gt-md="33" fxFlex.gt-xs="25" fxFlex="33">
    <mat-card>
        <mat-card-content>
            <mat-card-title>Stat 3</mat-card-title>
            10
        </mat-card-content>
    </mat-card>
</div>
<div fxFlex.gt-lg="33" fxFlex.gt-md="33" fxFlex.gt-xs="33" fxFlex="33">
    <mat-card>
        <mat-card-content>
            <mat-card-title>Stat 4</mat-card-title>
            20
        </mat-card-content>
    </mat-card>
</div>


